{% extends 'base/base.html' %}
{% load string_filters %}
{% load number_filters %}
{% load departments_tag %}
{% block content %}

    {#custom tags need to be loaded first#}

    <h1>{{ title|capfirst }}</h1>
    <h2>Not: {{ title2|lower }}</h2>
    <h3>{{ title|capitalise|do_nothing }}</h3>

    <p>{{ description }}(original)</p>
    <p>{{ description|truncatewords:8 }}</p>
    <p>{{ description|truncatechars:10 }}</p>
    {{ employees|join:', ' }}

    {% for number in numbers %}
        <div>
            {% if number < 200 %}
                {{ number|increase_by:10000 }} is less than 200
            {% elif number == 200 %}
                {{ number|increase_by:1000 }} is 200
            {% else %}
                {{ number|increase_by:100 }} is greater than 200
            {% endif %}
        </div>
    {% endfor %}
    <div>
        {{ csrf_token }}
    </div>
    {% departments_list %}

{% endblock %}